torch
transformers
fastapi
uvicorn
jupyter
matplotlib
pandas
scikit-learn
pytest
kedro
kedro-datasets[pandas.CSVDataSet]
kedro-datasets[pandas.ExcelDataSet]
kedro-datasets[pandas.ParquetDataSet]
kedro-datasets[spark.SparkDataSet]
kedro-telemetry
kedro-viz
plotly
ruff
pre-commit